<div class="HeaderBox">
  <div class="HeaderText"><h1>Ten reasons to be a Blitter</h1></div>
  <div class="NavigateBar"><ul><li>Navigate</li><li>Some</li><li>Places</li></ul></div>
</div>

<%= link_to "List of Reasons", posts_path %>
