<div class="HeaderBox">
  <div class="HeaderText"><h1><%= @title %></h1></div>
  <div class="NavigateBar"><ul><li>Navigate</li><li>Some</li><li>Places</li></ul></div>
</div>

<h1>Main</h1>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mains.each do |main| %>
      <tr>
        <td class="RightPadding"><%= main.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
