<div class="HeaderBox">
  <div class="HeaderText"><h1><%= @title %></h1></div>
  <div class="NavigateBar"><ul>
    <a href="/"><li>Home</li></a>
    <a href="/reasons/"><li>Reasons</li></a>
    <li>Empty</li>
  </ul></div>
</div>

<h1>Home</h1>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mains.each do |main| %>
      <tr>
        <td class="RightPadding"><%= main.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<h2>Users</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @reasons.each do |reason| %>
      <tr>
        <td class="RightPadding"><%= reason.name %></td>
        <td><%= reason.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
