<div class="HeaderBox">
  <div class="HeaderText"><h1>Ten reasons to be a Blitter</h1></div>
  <div class="NavigateBar"><ul><li>Navigate</li><li>Some</li><li>Places</li></ul></div>
</div>

<br>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td class="RightPadding"><%= post.content %><br /><br /><br /></td>
        <td class="DullLink"><%= link_to 'Edit', edit_post_path(post) %></td>
        <td class="DullLink"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="NewReasonLink"><%= link_to 'New Reason', new_post_path %></div>
